<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yok Madang - Pemadam Kelaparan</title>

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
<a href="#content" class="skip-link">Skip to content ?</a>

<div class="menu-mobile">
	<div class="btn">
		<div class="logo">MADANG</div>

		<div class="icon-menu" id="menu">
			<a href="#">
				<svg fill="#fff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
			</a>
		</div>
	</div>

	<nav id="drawer" class="nav">
		<ul id="nav-list" class="nav-list"></ul>
	</nav>
</div>

<!-- Desktop Navbar -->
<nav class="menu">
	<a class="logo" href="/">MADANG</a>
	<ul id="nav-list" class="nav-list"></ul>
</nav>

<div class="hero" style="background-image: url('images/heros/hero-image_4.jpg');">
	<div class="hero-inner">
		<h1 class="hero-title">Pemadam Kelaparan</h1>
		<p class="hero-text">Find the best places to eat</p>
	</div>
</div>

<main id="content">
	<section class="content">
		<h2>Explore Restaurant</h2>

		<div class="row" id="list"></div>
	</section>
</main>

<footer>
	<p>Copyright © 2021 - Pemadam Kelaparan</p>
</footer>
</body>
</html>
