/* RESET */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

ul {
	list-style-type: none;
}

/* SKIP LINK */
.skip-link {
	position: absolute;
	top: -100px;
	left: 0;
	padding: 10px;
	font-size: 20px;
	z-index: 100;
	text-decoration: none
}

.skip-link:focus {
	top: 100px
}

/* MOBILE MENU */
.menu-mobile .btn {
	background-color: #be0000;
	color: #fff !important;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 1.25rem;
	padding: 1rem;
	justify-content: space-between
}

.menu-mobile .nav {
	background-color: #be0000;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase
}

.menu-mobile .nav-list {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: left
}

.menu-mobile .nav-item {
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	line-height: 24px;
	text-transform: uppercase;
}

.menu-mobile .icon-menu a {
	text-decoration: none;
	color: #fff;
	display: block;
	width: 44px;
	height: 44px;
	font-size: 48px;
	line-height: 1;
}

.menu-mobile .nav a {
	display: block;
	padding: 1rem;
	text-decoration: none;
	color: #be0000;
}

/* GLOBAL MENU */
.menu {
	background-color: #be0000;
	width: 100%;
	display: flex;
	font-weight: 600;
	font-size: 1rem;
	text-transform: uppercase
}

.menu .nav-list {
	width: 67%;
	padding: 0;
	margin: 0;
	text-align: right
}

.logo {
	width: 33%;
	padding: 0;
	margin: 0;
	text-align: left;
	box-sizing: border-box;
	line-height: 24px;
	display: flex;
	align-items: center;
}

.menu .nav-item {
	box-sizing: border-box;
	display: inline-block;
	text-align: right;
	line-height: 24px;
	text-transform: uppercase
}

.menu a {
	display: inline-block;
	padding: 1.3em;
	text-decoration: none;
	color: #fff
}

.menu a:hover {
	text-decoration: none
}

/* HERO SECTION */
.hero {
	display: flex;
	align-items: center;
	min-height: 380px;
	width: 100%;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-inner {
	margin: 0 auto;
	max-width: 800px
}

.hero-title {
	color: #fff;
	font-weight: 600;
	font-size: 3rem;
}

.hero-text {
	color: #fff;
	margin-top: 16px;
	font-size: 1.8rem;
	font-weight: 600;
}

.content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
}

.content h2 {
	padding: 3rem 0;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -0.75rem;
	margin-right: -0.75rem;
}

.col {
	width: 100%;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.resto {
	margin-bottom: 3rem;
}

.resto-img {
	width: 100%;
	height: 18rem;
	object-fit: cover;
}

.rating {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.resto-name {
	padding: 7px 0;
}

.resto-name a {
	text-decoration: none;
	color: #be0000;
	font-size: 25px;
	min-width: 44px;
	min-height: 44px;
	line-height: 44px;
	display: inline-block;
}

footer {
	background-color: #be0000;
	color: #fff;
	font-size: 0.8rem;
	padding: 1rem;
	width: 100%;
	text-align: center
}

@media screen and (min-width: 768px) {
	.navbar {
		height: 70px;
		padding: 0.75rem 3rem;
	}

	.main-nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.main-nav li {
		margin: 0;
	}

	.nav-links {
		margin-left: 40px;
	}

	.logo {
		margin-top: 0;
	}

	.navbar-toggle {
		display: none;
	}

	.logo:hover,
	.nav-links:hover {
		color: #be0000
	}

	.col {
		width: 33.333333%;
	}
}
